<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.gstatic.com/firebasejs/7.6.0/firebase-app.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <form method="post">
        <input type="text" name="name" id="name" placeholder="Name">
        <input type="text" name="score" id="score" placeholder="Score">
        <input type="submit" value="Go">
    </form>

    <% scores.forEach( score => { %>
    <li><%= score.name +"---------"+ score.score %></li>
    <% }); %>
</body>

</html>